# IntelliJ
out/
# Visual Studio 2015 cache/options directory
.vs/
# Click-Once directory
publish/
node_modules/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local
.env
dist
Docker/